# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
*.log
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Provisioning for development
.vagrant/
/ansible/roles/

# History of Interactive Ruby Shell
.irb_history
